#scoreboard-container {
	justify-content: center;
	align-content: center;
}

.player-name-input {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

/*Media Queries*/
@media (min-width: 768px) {
    #scoreboard-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
    }
}
